.home-container {
    padding-top: 0.5rem;
    margin-right: 1rem;
  }
  
  .home-brand-text-column {
    padding-top: 6.5rem;
  
    
  }
  .home-brand-text-column h1 {
    background: linear-gradient(
      to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12
    );
    background-clip: text;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 6rem;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  }

  .home-brand-text-column h6 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-left: 0.5rem;
  }

  .home-brand-text-column small {
    padding-left: 1.2rem;
  }
 .home-icon {
 
    width: 40%;
    
    padding-top: 5.5rem;
  }
  