.modal-heading {
    background: linear-gradient(
      to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12
    );
    background-clip: text;
    font-size: 2.5rem;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .modal-header {
    border: 0;
    padding-bottom: 0;
  }
  
  .form-label {
    font-size: 1.1rem;
    font-weight: 500;
  }